@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Dark */
    --body-bg: hsl(235, 21%, 11%); 
    --container-bg: hsl(235, 24%, 19%);
    --text: hsl(234, 39%, 85%);
    --hover: hsl(236, 33%, 92%);
    --text-scnd: hsl(235, 16%, 43%);
    --checked-item: hsl(233, 14%, 35%);
    --border-outline: hsl(237, 14%, 26%);
    --btn-color: hsl(236, 9%, 61%);
    --current-filter: hsl(220, 98%, 61%);

    /* Light */
    --body-bg-light: #d2d3db; 
    --container-bg-light: hsl(0, 0%, 98%);
    --border-outline-light: hsl(234, 39%, 85%);
    --text-light: hsl(240, 33%, 1%);
}


body {
    background-color: var(--body-bg);
    color: var(--text);
    font-family: "Josefin Sans", sans-serif;
    margin-top: 50px;
    background-image: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 12px;
    color: #fff;
}

.toggle-mode {
    background: transparent;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 100%;
    min-height: 400px;
}

form {
    width: 100%;
    position: relative;
}

.todo-input {
    background-color: var(--container-bg);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text);
    font-size: 14px;
    width: 100%;
    padding: 20px 60px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.todo-input:focus {
    outline: 0;
}

#input-submit-btn {
    display: none;
}

.input-circle,
.check-btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid var(--checked-item);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 10px;
}

.list-container {
    background-color: var(--container-bg);
    border-radius: 5px 5px 0 0;
    width: 100%;
    border: 1px solid var(--border-outline);
    border-bottom: none;
}

.todo-item {
    position: relative;
    padding: 25px 60px;
    border-bottom: 1px solid var(--border-outline
    );
}

.check-btn {
    top: 50%;
    transform: translateY(-50%);
}

.check-btn,
.delete-btn {
    cursor: pointer;
}

.check-btn img {
    visibility: hidden;
}

.completed .check-btn {
    background: linear-gradient(to right,#57ddff,#c058f3);
}

.completed .check-btn img {
    visibility: visible;
}

.completed p {
    color: var(--checked-item);
    text-decoration: line-through;
}

.delete-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.delete-btn:hover {
    opacity: 1;
}

.controls-container {
    width: 100%;
    font-size: 12px;
    background-color: var(--container-bg);
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--border-outline);
    border-top: none;
}

.count-clear-container {
    display: contents;
}

#items-count {
    order: 1;
    color: var(--btn-color);
}

.filters-container {
    order: 2;
    display: flex;
}

.filters-container .btn {
    font-weight: bold;
    margin: 0 10px;
}

#clear-completed-btn {
    order: 3;
    font-weight: bold;
}

.btn {
    font-family: "Josefin Sans", sans-serif; 
    cursor: pointer;
    font-size: 12px;
    background: transparent;
    border: none;
    color: var(--btn-color);
}

.btn,
.check-btn,
.delete-btn {
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    color: var(--hover);
}

.btn.current {
    color: var(--current-filter);
}

footer {
    margin: 50px 0 20px;
    font-size: 11px;
    color: var(--btn-color);
}

footer a {
    color: var(--btn-color);
    font-weight: bold;
}

body.light-mode {
    background-image: url(images/bg-desktop-light.jpg);
    background-color: var(--container-bg-light);
}

body.light-mode .todo-input {
    background-color: var(--container-bg-light);
    color: var(--text-light);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

body.light-mode .input-circle,
body.light-mode .todo-item,
body.light-mode .check-btn {
    border-color: var(--border-outline-light);
}

body.light-mode .list-container {
    border: none;
    background-color: var(--container-bg-light);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

body.light-mode .todo-item {
    color: var(--text-light);
}

body.light-mode .completed p {
    color: var(--body-bg-light);
}

body.light-mode .controls-container {
    background: var(--container-bg-light);
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

body.light-mode .btn:hover {
    color: var(--text-light);
}

body.light-mode .btn.current {
    color: var(--current-filter);
}

body.light-mode footer,
body.light-mode footer a {
    color: var(--btn-color);
}

@media(max-width: 720px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 70%;
    }

    .delete-btn {
        opacity: 0.5;
    }

    body.light-mode .controls-container {
        box-shadow: none;
    }

    body.light-mode .count-clear-container,
    body.light-mode .filters-container {
        background-color: var(--container-bg-light);
        border: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }

    .count-clear-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        background-color: var(--container-bg);
        width: 100%;
        border: 1px solid var(--border-outline);
        border-top: none;
        border-radius: 0 0 5px 5px;
    }

    .controls-container {
        flex-direction: column;
        background: transparent;
        padding: 0;
        border: none;
    }

    body.light-mode .controls-container {
        background: transparent;
    }

    .filters-container {
        justify-content: center;
        background-color: var(--container-bg);
        padding: 20px;
        border-radius: 5px;
        border: 1px solid var(--border-outline);
    }

}

@media(max-width: 575px) {
    body {
        background-size: 100vw 40vh;
    }

    .container {
        width: 85%;
    }

    .todo-item p {
        width: 110%;
    }
}

@media(max-width: 360px) {
    body {
        background-image: url(images/bg-mobile-dark.jpg);
        background-size: 100vw 40vh;
        font-size: 14px;
    }

    body.light-mode {
        background-image: url(images/bg-mobile-light.jpg);
    }

    .container {
        width: 85%;
    }
}
